<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:
    <br>Pedro Díaz Álvarez
    <br>Pablo Fernández Fernández
    <br>https://github.com/pda1996/quiz_2017
</p>

<img src="/images/pidi.jpg" />
<img src="/images/pablo.png" />
